# don't store the generated elements
**/bin/**/*
**/src-gen/**/*
**/**/*.class
/build
/target
/commonbuild-full-pro.repomodel

# cern infrasturcture-related descriptors
src/testres/common/*-oracledev.xml
src/java/config/ctx-server-dev.xml
src/java/config/ctx-server-pro.xml

# binaries
sampleprojects/bin/*


# neo4j local db
test-db